
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.woff');
  font-weight: 400;
}