body{
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  background-image: url("../image/bg.png");
  background-position: center;
  background-size: cover;
}
.wrapper{
  width: $width-lg;
  margin: 0 auto;
  position: relative;
}
.wrapper-all{
 width: 100%;
  overflow: hidden;
  min-width: $width-lg;
}
*{
  box-sizing: border-box;
}
h1, h2, h3, h4, p, a, img, ul, li{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
header, section, footer{
  width: 100%;
  min-width: $width-lg;
  margin: 0 auto;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
button,
input{
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
}

button{
  cursor: pointer;
}

.btn{
  width: 198px;
  height: 44px;
  background-color: #9b2e29;
  border-radius: 1px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  @include transition();

  &:hover{
    background-color: #cc0f06;
  }
}

.small{
  width: 138px;
  height: 47px;
  background-color: #5e6049;
  border-radius: 1px;
  @include transition();
  font-size: 12px;
  text-transform: uppercase;

  &:hover{
    background-color: #74793f;
  }

}

.col{
  display: inline-block;
  vertical-align: top;
}

.col-m{
  display: inline-block;
  vertical-align: middle;
}

.input{
  &_error{

  }
}